body{
    background: rgb(233,228,30);
    background: linear-gradient(339deg, rgba(233,228,30,1) 0%, rgba(247,244,104,1) 35%, rgba(156,15,15,1) 100%);
    overflow: hidden;
}


.navbar{
    height: 75px !important;
}

.navbar a{
     font-size: 25px; color: black;
}


#kep{
    background-color: black;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/223/726/large_2x/horizontal-black-stone-texture-for-pattern-and-background-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    justify-content: center;
    float: right;
}

.mainfelirat{
    font-weight: bolder;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 50px;
}

#menu{
    background-image: url('menubackgrond.jpg');
    background-repeat: no-repeat;
    background-position: center;

}   

#menu p{
    text-align: center;
    color: bisque;
    font-size: 30px;
}

#menu p:hover{
    font-size: 35px;
    color: gold;
}

#kep img{
    width: 350px;
    height: 300px;
}