main{
    width: 40%;
    margin: auto;
}

aside{
    float: right;
}

aside img{
    width: 500px;
    height: 300px;
}

input{
    border: 1px solid gray;
    box-shadow: 5px;
}

h1{
    text-align: center;
}

.input-group-text{
    background-color: white !important;
    border: 0;
}
.navbar{
    height: 75px !important;
}

.navbar a{ font-size: 25px; color: black;}

.mainfelirat{
    font-weight: bolder;
    text-decoration: none;
}