body{
    overflow-x: hidden;
}

#jobb{
    background-color: black;
    height: 100vh;
}

#fopizza {
    padding: 0;
}

#pizzavid {
    width: 75vw;
    height: 100vh;
    object-fit: cover;
    margin-left: 0px;
    margin-right: 0px;
}

#bal {
    background-color: black;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/223/726/large_2x/horizontal-black-stone-texture-for-pattern-and-background-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#bal{
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.navbar{
    height: 75px !important;
}

.navbar a{ font-size: 25px; color: black;}

.mainfelirat{
    font-weight: bolder;
    text-decoration: none;
}